header{
	
	
	display: block;
}

derp{
	color: #FFFFFF;
	font-size:6em;


}
h2{

	color: #FF9849;
}

h1{
	font-size:2.5em;
	color: #EEEEEE;
}


body{
 	background-image: url(images/background.png);
	background-position:center;
	background-repeat:repeat;
	font-family:"Verdana", "Arial", "sans-serif";

}

nav{
	display: block;
	text-align: left;
	margin-bottom: 10px;
}
nav a { 
	text-decoration: none;
	padding-bottom: 15px; 
}


nav ul { 
	list-style-type: none; 
}


footer{
	display: block;
	
	color: #000000;
	font-size: 0.6em;
	font-style:em;
	text-align: center;
	padding:20px;
	clear:all;

}



#wrapper{

	width: 90%;
	margin-right: auto;
	margin-left: auto;
	min-width:700px;
	max-width:1024px;


}

.details{

	
	padding-left:20%;
	padding-right:20%;
	
	overflow:auto;

}

#main{
	display: block;
	
	
	padding:10 20 30 20;
	margin-right:40%;

	color:#FFFFFF;
}


#rightcol{
	display: block;

	width:40%;
	padding:10 20 30 20;
	float:right;

	color:#FFFFFF
}


a:link { 
	color: #FF9849; 
}
a:visited { 
	color: #FF9849; 
}
a:hover { 
	color: #FF9849; 
}

img{

	border:none;

}

.floatleft{
	float:left;
	padding-right:20px;
	padding-bottom:20px;

}

.floatright{
	float:right;
	padding-left:20px;
	padding-bottom:20px;

}
